* {
    font-family: 'Sunflower', sans-serif;
}

body {
    background-color: #88CEEB;
    min-height: 100vh;
}

.input {
    font-family: 'Sunflower';
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.title {
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Jua', sans-serif;
}

.subtitle {
    font-size: 2rem;
    font-family: 'Jua', sans-serif;
}


.button.is-sparta {
    background-color: transparent;
    border-color: #CDDEFF;
    color: #88CEEB !important;
    font-family: 'Sunflower', sans-serif;

}

.button.is-sparta:hover {
    border-color: transparent;
    background-color: #88CEEB;
    color: black;
    font-family: 'Sunflower';
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #CDDEFF;
    color: #88CEEB !important;
    font-family: 'Sunflower', sans-serif;
}

.button.is-sparta.is-outlined:hover {
    border-color: transparent;
    background-color: #88CEEB;
    color: black;
    font-family: 'Sunflower';
}

.help {
    color: gray;
}

.is-hidden {
    display: none !important;
}

